
#map {
height: 80%;
}

#municipio {
	font-size: 120%;
	color: green;
}



html, body {
height: 100%;
margin: 0;
padding: 0;
}

div.wiki {
font-family: sans-serif;
height: 20%;
background-color: grey;
}