<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.Pueblos" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>InfoTown</name>
    
    <description>
        Descubre información útil de los lugares por los que vas pasando. 
    </description>
    
    <author email="cursofactor@gmail.com" href="http://pilgrim.neocities.org/infoTown">
        Luis Gentil
    </author>
    
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-geolocation" value="cordova-plugin-geolocation" source="npm"/>
        
    <platform name="android">    
      <icon src="icon.png" />
      <icon src="icon.png"   gap:platform="android"    gap:qualifier="ldpi" />
      <icon src="icon.png"   gap:platform="android"    gap:qualifier="mdpi" />
      <icon src="icon.png"   gap:platform="android"    gap:qualifier="hdpi" />
      <icon src="icon.png"   gap:platform="android"    gap:qualifier="xhdpi" />
    </platform>
    
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1"/>

</widget>
