
#map {
height: 80%;
border: 1px;
}

#municipio {
	font-size: 120%;
	color: green;
}



html, body {
height: 100%;
margin: 0;
padding: 0;
}

div.wiki {
padding: 5px;
font-family: sans-serif;
font-weight: bold;
height: 20%;
background-color: lightgrey;
}

#informar {
	font-weight: normal;
}

#info_plus {
	font-size: small;
	font-weight: normal;
}